[user]
	name = Romain Pellerin
[color]
	ui = true
	grep = true
[alias]
    commmit = commit
    comit = commit
    ad = "!f() { git add $1 && git status; }; f"
    st = status
    co = checkout
    dif = diff --word-diff-regex=[^[:space:],]+
    pom = push origin master
    oneline = log --pretty=oneline --abbrev-commit --graph --decorate
    lc = !git oneline ORIG_HEAD.. --stat --no-merges
    whoistheboss = !git ls-tree -r HEAD|sed -re 's/^.{53}//'|while read filename; do file "$filename"; done|grep -E ': .*text'|sed -r -e 's/: .*//'|while read filename; do git blame -w "$filename"; done|sed -r -e 's/.*\((.*)[0-9]{4}-[0-9]{2}-[0-9]{2} .*/\1/' -e 's/ +$//'|sort|uniq -c|sort -nr
    whattime = !git log --committer=Pellerin --pretty="%cd" | cut -d' ' -f4 | cut -d: -f1 | sort -n | uniq -c
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an> %Creset%C(yellow)%ci / %ai%Creset' --abbrev-commit
    lgo = "!git log origin/master.. --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an> %Creset%C(yellow)%ci / %ai%Creset' --abbrev-commit"
    lgall = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an> %Creset%C(yellow)%ci / %ai%Creset' --abbrev-commit --all
    pushn = !git push --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"
    bdm = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
    # File history
    filelog = log -u
    fixup = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autosquash $REV^' -
    push-commit-by-commit = "!git log --oneline $(git merge-base @ 'origin/master').. | tac | awk '{ print $1 }' | while read hash; do git push origin $hash:\"`git rev-parse --abbrev-ref HEAD`\" --force-with-lease; sleep 1; done"
    diff-to-html = "!echo \"cat <<'EOF' | git apply\n$(git diff --color)\nEOF\n\" | ansi2html > diff.html"
    diff-to-html-no-index = "!echo \"cat <<'EOF' | git apply\n$(git diff --color --no-index -U0 $@)\nEOF\n\" | ansi2html > diff.html"
[push]
	default = current
[fetch]
	prune = true
[core]
	editor = vim
	excludesfile = /home/romain/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFXS
[diff]
	submodule = log
	mnemonicprefix = true
	renames = true
[init]
	templatedir = ~/.git-templates
[rebase]
	autosquash = true
[pull]
    ff = only
	rebase = preserve
[gpg]
	program = gpg2
[branch]
	autoSetupRebase = always
[rerere]
	enabled = true
[commit]
	gpgsign = true
[protocol]
	version = 2
[help]
	autocorrect = 20
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[include]
      path = ~/.gitconfig_local
[gc]
	reflogExpire = 30
	reflogExpireUnreachable = 20
