[user]
	email = contact@romainpellerin.eu
	name = Romain Pellerin
[color]
	ui = auto
[alias]
    ad = "!f() { git add $1 && git status; }; f"
    st = status
    pom = push origin master
    oneline = log --pretty=oneline --abbrev-commit --graph --decorate
    lc = !git oneline ORIG_HEAD.. --stat --no-merges
    whoistheboss = !git ls-tree -r -z --name-only HEAD -- | xargs -0 -n1 git blame --line-porcelain HEAD |grep  '^author '|sort|uniq -c|sort -nr
    whattime = !git log --committer=Pellerin --pretty="%cd" | cut -d' ' -f4 | cut -d: -f1 | sort -n | uniq -c
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[fetch]
	prune = true
[core]
	editor = vim
	excludesfile = /home/romain/.gitignore_global
