[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=compton
Comment=
Exec=/bin/echo 'compton disabled'
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

