[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xautolock
Comment=
Exec=xautolock -time 1 -detectsleep -locker '/home/romain/git/dotfiles/scripts/lock-screen.sh'
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

